{% extends 'base.html' %}{% block content %}
<div class="container">
    <h2>HomePage</h2>
    
    <div class="container col-xs-12">
        <div class="col-xs-6">
            <a href="#" data-toggle="modal" data-target="#crearModal" class="btn btn-info col-xs-3">
                <i class="fa fa-pencil"></i> Crear...
            </a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-info col-xs-3" href="{% url 'testsforall:mySurveys' %}">
                <i class="fa fa-list"></i> Creados
            </a>      
        </div>
        <div class="clearfix col-xs-12"></div>
        <div class="col-xs-6">
            <a class="btn btn-info col-xs-3">
                <i class="fa fa-indent"></i> Por realizar
            </a>  
        </div>
        <div class="col-xs-6">
            <a class="btn btn-info col-xs-3">
                <i class="fa fa-check-square-o"></i> Realizados
            </a>  
        </div>
        
    </div>
</div>
{% endblock %}