{% extends 'base.html' %} {% block content %} {{post}}
<div id = "answering">
    <div class="clearfix"></div>
    <h1>{{survey.typesurvey}}</h1>
    <h1>{{survey.title}}</h1>
    {% if survey.getFirstImage %}
    <img src="/media/{{survey.getFirstImage.image}}"> 
    {% endif %}
    <div id="survey" data-surveyid="{{survey.id}}">
    {% csrf_token %}
    {% for question in survey.question_set.all %}
    <div class="question text-center container col-sm-6">
        <h3>{{question.title}}</h3>
        {% if question.image %}
        <img class="img questionimg" src="/media/{{question.image.image}}">
        <div class="clearfix"></div>
        {% endif %}
        <div class="answersanswering col-sm-12">
            {% for answer in question.answer_set.all %}
            <div class="answer col-sm-5" data-idanswer="{{answer.id}}">
                {{answer.title}} {% if answer.image %}
                <img class="img" src="/media/{{answer.image.image}}"> {% endif %}
            </div>
            {% if forloop.counter|divisibleby:2 %}
            <div class="clearfix"></div>
            {% endif %}
            {% endfor %}
        </div>

    </div>


    {% endfor %}
    </div>
    <button class="btn btn-success" id="solveTest" type="button"><i class="fa fa-check-square-o"></i> Corregir test</button>
</div>
<div id="resultsTest" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-xs-12">
            <div class="modal-header col-xs-12">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Resultado del test</h4>
            </div>
            <div class="modal-body text-center col-xs-12" id="textresult">
            </div>
            <div class="modal-footer col-xs-12">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
        $('.answer').click(function() {
            var selected = $(this).parent().find('.selected');
            selected.removeClass('selected');
            $(this).addClass('selected');
        });
        $('#solveTest').click(function() {
            var token = $("input[name=csrfmiddlewaretoken]").val();ç
            var answerstosend = [];
            var surveyid = $('#survey').data('surveyid');
            var selectedanswers = $('.answer.selected');
            selectedanswers.each(function(){
                var idanswer = $(this).data('idanswer');
                answerstosend.push(idanswer);
            });
            $.ajax({
                async: false,
                type: 'POST',
                url: "{% url 'testsforall:solveTest' %}",
                data: {
                    'csrfmiddlewaretoken': token,
                    'answerssended': answerstosend,
                    'surveyid': surveyid
                },
                success: function(data) {
                    if (data[0].userexists) {
                        formok = false;
                        $('#infousername').css('visibility', 'visible').hide().fadeIn().removeClass('hidden');
                        setTimeout(hideInfousername, 4000);
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Ha habido algun problema al consultar el username');
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        });

    });
    
</script>

{% endblock %}

