body{
  color: white;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif !important; 
  height: 800px;
}
.explain{
  margin-top: 50px;
  font-size: 1.5em;
  width: 25%;
  font-family:Circular Book;
}